<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OwnConnectionString" value="server=10.0.0.220;user id=root;database=sage200importer" />
    <add key="OwnSageServer" value="ZHAP03" />
    <add key="OwnSageDB" value="Sage200" />
    <add key="OwnSageID" value="sage200admin" />
    <add key="OwnSagePsw" value="sage200" />
    <add key="OwnConnectionStringZHDB02" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=DBZ;Pwd=sesam" />
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>