<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OwnConnectionString" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=DBZ;Pwd=sesam" />
    <add key="OwnSageServer" value="ZHAP03" />
    <add key="OwnSageDB" value="Sage200" />
    <add key="OwnSageID" value="Sage200Import" />
    <add key="OwnSagePsw" value="Sage200Import" />
    <add key="OwnConnectionStringZHDB02" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=DBZ;Pwd=sesam" />
    <add key="OwnConnectionStringAHZ" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=AHZ;Pwd=sesam" />
    <add key="OwnConnectionStringFS" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=FSZ;Pwd=sesam" />
    <add key="OwnConnectionStringHelvW" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=HELV;Pwd=sesam" />
    <add key="OwnConnectionStringAHZDeb" value="server=srh3ms001.sdlc.mssag.ch;uid=web15;database=usr_web15_1;Pwd=0TWn9F38" />
    <add key="OwnConnectionStringMG" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=MG;Pwd=sesam" />
    <add key="OwnConnectionStringMK" value="server=dagobert.igit.ch;uid=mkcash;database=mkdagobert;Pwd=4aY7n?c2" />
    <add key="SQLConnectionString" value="Server=ZHAP03;Database=Sage200;uid=sage200admin;Password=sage200" />
    <add key="OwnConnectionStringDLC" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=JOURNAL;Pwd=sesam" />
    <add key="OwnConnectionStringHelpData" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=HELPDATA;Pwd=sesam" />
    <add key="OwnConnectionStringGrogg" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=GROGG;Pwd=sesam" />
    <add key="OwnConnectionStringMSS" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=mssdebi;Pwd=sesam" />
    <add key="OwnConnectionStringMail" value="server=ZHDB02.sdlc.mssag.ch;uid=workbench;database=dbmail;Pwd=sesam" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>